
@{
    ViewBag.Title = "Index";
}

<h2>Find a Teacher</h2>
<form action="/Teacher/Search" method="POST">
    <div id="field1">
        <Label for="name">Enter a name: </Label><input id="name" type="text" name="fname" required />
    </div>
    <div id="field2">
        <Label for="salary">Enter a salary: </Label><input id="salary" name="salary" type="text" required/>
    </div>
    <input type="submit" value="Search" />
</form>


