@model HTTP_5101_Assignment3_n01357205.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="navlink" href="/Teacher/Update/@Model.TeacherId">Update Teacher</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete Teacher</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p style="font-style:italic;">Member Since @Model.HireDate.ToString("dd-MMM-yyyy")</p>
    <p> Salary : @Model.Salary Lakhs</p>
</div>