@model HTTP_5101_Assignment3_n01357205.Models.Teacher
@{
    ViewBag.Title = "Update";
}
<div id="container-update">

    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Back</a>
    </nav>

    <h2 class="heading-left">Update Teacher</h2>

    <form method="POST" action="/Teacher/Update/@Model.TeacherId" name="TeacherForm" onsubmit="">

        <div class="items">
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" value="@Model.TeacherFname" />
        </div>

        <div class="items">
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" value="@Model.TeacherLname" />
        </div>

        <div class="items">
            <label for="EmployeeNumber">Employee Number:</label>
            <input type="text" id="EmployeeNumber" name="EmployeeNumber" value="@Model.EmployeeNumber" />
        </div>

        <div class="items">
            <label for="Salary">Salary:</label>
            <input type="text" id="Salary" name="Salary" value="@Model.Salary" />
        </div>

        <div>
            <input class="left-button" type="submit" value="Update Teacher" />
        </div>

    </form>

</div>